.userPhoto img {
   
}

.profileWrapper{
    display: flex;
}
.leftBox{
    flex-direction: column;
    flex-basis: 25vw;
}

.status {
    text-align: center;
    cursor: default;
}

.statusText {
    cursor: pointer;
}
.statusText :hover {
    color: rgb(223, 175, 245);
}

.photo{
    padding-left: 1vw;
    padding-right: 1vw;
    width: 300px;
    height: 300px;
    border-radius: 3%;
}

.fullName {
    text-align: center;
    cursor: default;
}

.rightBox{
    flex-direction: row;
    flex-basis: 57vw;
    cursor: default;
}

.aboutMe {
    text-align: center;
}

.bottomBox {
    display: flex;
    flex-direction: row;
}

.contacts{
    flex-basis: 40vw;
}

.contacts div {
    padding-left: 2vw;
    padding-top: 1vh;
}

.jobBox{
    flex-basis: 20vw;
}

.jobBox div {
    padding-bottom: 1vh;
}

/* .fullName {
    text-align: center;
}


.aboutMe {
    text-align: center;
}

.contactsHeader {
    text-align: center;
}

.jobHeader {
    text-align: center;
} */

.image img {
    width: 10px;
    height: 10px;
}
/* 
.status {
    cursor: pointer
}

.mainpole {
    padding: 3px;
    background-color: rgb(224, 243, 241);
} */