.user{
    display: flex;
    flex-flow: wrap;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 0.3vh;
    cursor:default
}

.leftBox{
    /* flex-basis: 10vw; */
}

.status {
    /* flex-basis: 50vw; */
    flex-shrink: 1;
    flex-grow: 1;
}

.right {
    text-align: right;
    /* flex-basis: 21vw; */
}

.ava img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.selectedPage {
    font-weight: bold;
    border: 2px solid;
}

/* .pagesNumber {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 82vw;
    cursor: pointer;
}

.pagesNumber div {
    margin: 1px;
    border-left: 1px solid;
    border-right: 1px solid;
} */

.preloader img {
    display:block;
    margin: auto;
    
}

.button button {
    cursor: pointer;
}