  .nav{
    grid-area: n;
    background-color: teal;
    padding: 25px;
    height: 50vh;
  }

  .item a{
    color: whitesmoke;
    text-decoration: none;
    padding: 4px;
  }

  .item a.activeLink{
    color: darkblue;
  }

  .item :hover{
    color:rgb(223, 175, 245);
  }

  .friends{
    color:whitesmoke;
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
  }

  .friends a{
    text-decoration: none;
    color:whitesmoke;
  }

  .friends a.activeFriend{
    color: darkblue;
  }
