  .nav{
    background-color: teal;
    width: 9vw;
    height: 50vh;
    position: fixed;
    top: 7%;
    height: 100%;
    padding-left: 1vw;
  }

  .item a{
    color: whitesmoke;
    text-decoration: none;
    padding: 4px;
  }

  .item a.activeLink{
    color: darkblue;
  }

  .item :hover{
    color:rgb(223, 175, 245);
  }