.header{
    grid-area: h;
    background-color: cornflowerblue;
  }

.header img{
    position:absolute;
    right: 10px;
    width: 25px;
    padding: 5px;
  }
  
.header div {
  padding-top: 20px;
  padding-left: 15px;
}