.error {
    margin: 1% 0 1% 0;
    /* border: 2px red solid;
    border-radius: 3%; */
}

.error span {
    color: red;
}

.noError {
    margin: 1% 0 1% 0;
    border-radius: 3%;
}

.errorForm {
    border: 1px solid red;
    color: red;
}