.app-wrapper{
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  flex-basis: 100vw;
  
}

.app-wrapper-navi{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(247, 255, 255);
  flex-basis: 10vw;
}

.app-wrapper-content{
  flex-basis: 90vw;
}





